<!doctype html>
<html>
  <head>
    <title>Yoga Swiper (klick to swipe v0.3)</title>
    <style>
      #image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      
      @media only screen and (orientation: landscape) {
        #image {
          width: 80%;
        }
      }
    </style>
  </head>
  <body>
 
    <img id="image" src="{{ images[0] }}" style="width: 100%;"/>
    
    
    <script>
      let currentIndex = 0;
      images = ["/static/images/image1.jpg", "/static/images/image2.jpg", "/static/images/image3.jpg",
              "/static/images/image4.jpg", "/static/images/image5.jpg", "/static/images/image6.jpg",
              "/static/images/image7.jpg", "/static/images/image8.jpg"] 

     var image = document.querySelector('#image');

    image.addEventListener('click', function() {
        currentIndex = (currentIndex + 1) % images.length;
        image.src = images[currentIndex];
      });


      var image = document.querySelector('#image');
let xDown = null;
let yDown = null;

image.addEventListener('touchstart', function(e) {
  xDown = e.touches[0].clientX;
  yDown = e.touches[0].clientY;
});

image.addEventListener('touchmove', function(e) {
  if (!xDown || !yDown) {
    return;
  }

  var xUp = e.touches[0].clientX;
  var yUp = e.touches[0].clientY;
  var xDiff = xDown - xUp;
  var yDiff = yDown - yUp;

  if (Math.abs(xDiff) > Math.abs(yDiff)) {
    if (xDiff > 0) {
      /* left swipe */
      currentIndex = (currentIndex + 1) % images.length;
      image.src = images[currentIndex];
    } else {
      /* right swipe */
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      image.src = images[currentIndex];
    }
  }
  /* reset values */
  xDown = null;
  yDown = null;
});

image.addEventListener('mousedown', function(e) {
  xDown = e.clientX;
  yDown = e.clientY;
});

image.addEventListener('mouseup', function(e) {
  if (!xDown || !yDown) {
    return;
  }

  var xUp = e.clientX;
  var yUp = e.clientY;
  var xDiff = xDown - xUp;
  var yDiff = yDown - yUp;

  if (Math.abs(xDiff) > Math.abs(yDiff)) {
    if (xDiff > 0) {
      /* left swipe */
      currentIndex = (currentIndex + 1) % images.length;
      image.src = images[currentIndex];
    } else {
      /* right swipe */
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      image.src = images[currentIndex];
    }
  }
  /* reset values */
  xDown = null;
  yDown = null;
});
    </script>
  </body>
</html>